<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>城市列表</title>
</head>
<body>
<div>
    <table>
        <legend>
            <strong>人员列表</strong>
        </legend>
        <thead>
        <tr>
            <th>个人编号</th>
            <th>姓名</th>
            <th>电话</th>
            <th>地址</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${personList}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.tel}"></td>
            <td th:text="${p.address}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>